Package: linux-image-5.15.67test-project0-kernel1+
Source: linux-upstream
Version: 5.15.67test-project0-kernel1+-1
Architecture: amd64
Maintainer: pking <pking@cmsc421-3.hdihome.com>
Installed-Size: 22192
Section: kernel
Priority: optional
Homepage: https://www.kernel.org/
Description: Linux kernel, version 5.15.67test-project0-kernel1+
 This package contains the Linux kernel, modules and corresponding other
 files, version: 5.15.67test-project0-kernel1+.
